<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File viewer - {{ requestedfile }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="https://upload.zyiks.com/static/css/imageviewer.css">
</head>
<body>


<canvas></canvas>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
    if (screen.width <= 800) {
        window.location = "{{"https://upload.zyiks.com/static/uploads/" + requestedfile }}";
    }
</script>
<script id="imageviewer" type="text/javascript"
        src="https://upload.zyiks.com/static/js/imageviewer.js"
        currentimage="{{ "https://upload.zyiks.com/static/uploads/" + requestedfile }}"></script>

</body>
</html>